<section>
    <ul>
   
        <li> 
          <h3><%=book.title%></h3>
          <h3><%=book.author%></h3>
          <h3>ISBN: <%= book.isbn %></h3>
          <img src=<%=book.image_url %>>
          <p><%=book.description%></p>
        </li>
        
    </ul>
    <form action="/books/<%= book.id %>" method="POST"></form>
        <input type="hidden" value="<%= book.title %>" name="title">
        <input type="hidden" value="<%= book.author %>" name="title">
        <input type="hidden" value="<%= book.isbn %>" name="title">
        <input type="hidden" value="<%= book.image_url %>" name="title">
        <input type="hidden" value="<%= book.description %>" name="title">
        <input type="submit" value="submit">
  </section>
