<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Detail</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?" family=Alegreya|Alegreya+SC|Alegreya+Sans|Alegreya+Sans+SC|Playfair+Display|Playfair+Display+SC" rel="stylesheet">
    <link rel="icon" type="png" href="../../../images/book_favicon.png"/>
    
</head>
<body>
    <%include ../../layout/header%>
    <main class="flex-column">
        <form action="/books/edit/<%=book.id%>" method="POST">
        <input type="text" value="<%= book.title%>" name="title">
        <input type="text" value="<%= book.author%>" name="author">
        <input type="text" value="<%= book.isbn%>" name="isbn">
        <input type="text" value="<%= book.image_url%>" name="image_url">
        <input type="text" value="<%= book.description%>" name="description">
        <input type="select" name="bookshelf">
        <input type="submit" value="Save to Collection">
        </form>
    </main>
    <%include ../../layout/footer%>
    </body>
    </html>
</html> 
</body>