<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">

  <title>Book App</title>
</head>
<header>
    <%-include ../layout/header%>
</header>

<body>

    <ul>
      <% books.forEach(book => { %>
      <li>
        <h3><%=book.title%></h3>
        <h3><%=book.author%></h3>
        <h3><%=book.isbn%></h3>
        <h3><%=book.imageLinks%></h3>
        <p>
        <ul><li><%=book.description%></li></ul>
        </p>
        <img src=<%=book.image_url %>>
        <form action="/books" method="POST">
        <input type="hidden" value="<%= book.title %>" name="title">
        <input type="hidden" value="<%= book.author %>" name="author">
        <input type="hidden" value="<%= book.isbn %>" name="isbn">
        <input type="hidden" value="<%= book.imageLinks %>" name="image_url">
        <input type="hidden" value="<%= book.description %>" name="description">
        <input type="submit" value="Save This Book">
        <input type="submit" value="View Detail Description" class="detail-button" action="/books/<%= book.id %>" method="POST">
        </form>
      </li>
    <% }) %>
  </ul>
</body>
</html>