<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <ul>
      <% books.forEach(book => { %>
      <li>
        <h3><%=book.title%></h3>
        <h3><%=book.author%></h3>
        <p><%=book.description%></p>
        <img src=<%=book.image_url %>>
        <form action="/books" method="POST">
        <input type="hidden" value="<%= book.title %>" name="title">
        <input type="hidden" value="<%= book.author %>" name="title">
        <input type="hidden" value="<%= book.isbn %>" name="title">
        <input type="hidden" value="<%= book.imageLinks %>" name="title">
        <input type="hidden" value="<%= book.description %>" name="title">
        <input type="submit" value="save">
      </form>
      </li>
    <% }) %>
  </ul>
</body>
</html>